# Requirements for testing
pytest
pytest-cov

# Requirements for documentation
# docutils
# Sphinx
# sphinxcontrib-napoleon
# sphinxcontrib-websupport
# sphinx_rtd_theme
# m2r2

# Requirements for project